/* * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
} */



#navbar {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  background-image: url("https://adn-static1.nykaa.com/media/wysiwyg/2022/common-strip-17-6-22.jpg");
  height: 45px;

}

#logos>div {
  display: flex;
  /* border: 1px solid black; */
  justify-content: space-around;
  background-color: transparent;
  /* width:150px; */
  margin-top: 10px;
}

#logos>div>img {
  width: 40px;
  cursor: pointer;
  height: 30px;
  margin-top: -5px;
  margin-left: 30px;


}

h1 {
  font-weight: bold;
  font-size: 16px;
  width: 500px;
  margin-right: 200px;
  margin-left: 150px;
  cursor: pointer;
  font-family: sans-serif;
  margin-top: 13px;
  /* border: 1px solid red; */
}

h2 {
  font-size: 14px;
  /* width:150px; */
  cursor: pointer;
  font-weight: lighter;
  font-family: sans-serif;
  margin-right: 10px;
  margin-top: 5px;
  /* border: 1px solid red; */
}

h1:hover {
  color: white;
}

h2:hover {
  color: white;
}


/* for second navbarpage */




#cartlogo {
  width: 20px;
  display: block;
  margin-left: 350px;
  margin-top: -28px;
  cursor: pointer;
}





#navbar2 {
  display: flex;
  justify-content: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 60px;

}


#offer>img {
  width: 150px;
  height: 40px;
  background-color: transparent;

}

#offer>img:hover {
  cursor: pointer;
}


/* Dropdown Button */
.dropbtn2 {
  background-color: white;

  padding: 25px;
  font-size: 15px;
  border: none;
  font-weight: bold;
}

/* The container <div> - needed to position the dropdown content */
.dropdown2 {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  /* border: 1px solid red;; */

}

.dropdown2:last-child {
  /* position: relative; */

  /* border: 1px solid red; */
  height: 50%;
  margin-left: 200px;
  margin-top: 15px;

}

.dropdown2:last-child>input {
  border-color: #f1f1f1;
  background-color: rgb(238, 238, 238);
  height: 40px;
  width: 70%;
  border: transparent;
  font-weight: bold;
  font-family: sans-serif;
  margin-right: 10px;
  margin-top: -7px;
  text-align: center;
}

.dropdown2:last-child>a {
  color: black;
  margin-right: 5px;
}

/* Dropdown Content (Hidden by Default) */
#dropdown-content2 {
  display: none;
  position: fixed;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 99;

}

/* Links inside the dropdown */
#dropdown-content2 a {
  color: gray;
  padding: 4px;
  text-decoration: none;
  width: 150px;
  /* border: 1px solid red; */
  margin-right: 10px;

  /* display: block; */
}

/* Change color of dropdown links on hover */
#dropdown-content2 a:hover {
  background-color: transparent;
  color: #fc2779;
}

/* Show the dropdown menu on hover */
.dropdown2:hover>#dropdown-content2 {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(14, 40px);
  /* border: 1px solid black; */
  position: absolute;
  justify-content: space-around;
}




/* Change the background color of the dropdown button when the dropdown content is shown */
.dropbtn2:hover {
  color: #fc2779;
  cursor: pointer;


}

#navbar2>img {
  width: 8%;
  margin-top: 12px;
  margin-right: 20px;
  height: 65%;
  padding: 5px;
  cursor: pointer;

}

#dropdown-content2>button:hover {
  background-color: #fc2779;
  cursor: pointer;
  color: white;
  /* margin-top: 20px; */
}

#dropdown-content2>button {
  border: 0;
  background-color: rgb(181, 181, 194);
  /* border: 1px solid red; */
  margin-right: 10px;
  font-weight: bold;
}

#dropdown-content2>img {
  width: 100px;
  height: 30px;
  margin-bottom: 10px;
  cursor: pointer;
}

.beauty {
  width: 500px;
  /* border: 1px solid red; */
  height: 400px;
}







/* 3rd navbar styling */

#nav {
  display: flex;
  justify-content: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: 20px;
}

#offer>img {
  width: 150px;
  height: 40px;
  background-color: transparent;

}

#offer>img:hover {
  cursor: pointer;
}


/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: gray;
  padding: 5px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  /* border: 1px solid red;; */

}

/* Dropdown Content (Hidden by Default) */
#dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

}

/* Links inside the dropdown */
#dropdown-content a {
  color: gray;
  padding: 4px;
  text-decoration: none;
  width: 150px;
  /* border: 1px solid red; */
  margin-right: 10px;
  /* display: block; */
}

/* Change color of dropdown links on hover */
#dropdown-content a:hover {
  background-color: transparent;
  color: rgb(231, 43, 43)
}

/* Show the dropdown menu on hover */
.dropdown:hover>#dropdown-content {
  display: grid;
  grid-template-columns: repeat(6, 200px);
  grid-template-rows: repeat(8, 30px);
  /* border: 1px solid black; */
  position: absolute;


}


/* Change the background color of the dropdown button when the dropdown content is shown */
.dropbtn:hover {
  color: rgb(216, 32, 63);
  cursor: pointer;
  text-decoration-line: underline;

}




/* Sliider */

.crauser {
  width: 100%;
  position: relative;
  /* display: flex; */

}

.crauser>img {
  width: 100%;
  cursor: pointer;
}

.crauser>button {
  position: absolute;
  top: 150px;
  border-radius: 100%;
  font-size: 20px;
  color: gray;
  width: 60px;
  height: 60px;
  border-color: transparent;
  cursor: pointer;
}

.crauser>button:nth-child(2) {
  left: 10px;

}

.crauser>button:nth-child(3) {
  right: 10px
}

#monsoonsale>img {
  display: block;
  margin: auto;
  margin-top: 20px;
  cursor: pointer;
  width: 80%;
}

#top {
  text-align: center;
  margin-top: 50px;
  font-size: 28px;
  font-family: sans-serif;
  color: rgb(59, 59, 59);
  font-weight: lighter;
  margin-bottom: 30px;
}



/* nazia part */





/* declare a variable */

:root {
  --color: rgb(236, 20, 207);
  --font-size: 50
}


/*  maiking div as grid   */
#main {
  display: grid;
  grid-template-columns: repeat(2, 550px);
  gap: 20px;
  padding-left: 12%;
  margin: auto;
}

#main>div {
  /* width: 100%;
  height: 350px; */
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#main>div>img {
  width: 100%;
}

h3 {
  color: var(--color);
  text-align: center;
  font-size: 20px;
}

#card>p {
  text-align: center;
  font-size: 19px;
  margin-top: 0%;

}

/* #text{
      border: 1px solid;
  } */


#card :hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


/* aruns part */




#firstheading {
  text-align: center;
  font-family: Inter, Roboto, Arial, sans-serif;
  font-size: 25px;
  color: rgb(59, 56, 56);
  margin-bottom: 40px;
  margin-top: 30px;
}

#Onlyatnykaa {
  width: 85%;
  /* border: 1px solid red; */
  margin: -20px auto 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
}

#Onlyatnykaa>div {
  height: auto;
  /* border: 1px solid blue; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;

}

#Onlyatnykaa>div:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#Onlyatnykaa>div>img {
  width: 100%;
  height: auto;

}

#second {
  width: 500px;
  height: 70px;
  background-color: white;
  border-radius: 5px;

}

#fourth {
  width: 500px;
  height: 70px;

  background-color: white;
  border-radius: 5px;

}

#sixth {
  width: 500px;
  height: 70px;

  background-color: white;
  border-radius: 5px;

}

#eighth {
  width: 500px;
  height: 70px;

  background-color: white;
  border-radius: 5px;

}

#second>h3,
h4 {
  margin-top: 10px;
  text-align: center;
}

#fourth>h3,
h4 {
  margin-top: 10px;
  text-align: center;
}

#sixth>h3,
h4 {
  margin-top: 10px;
  text-align: center;
}

#eighth>h3,
h4 {
  margin-top: 10px;
  text-align: center;
}

#second>h3,
h4:hover {
  cursor: pointer;
}

#fourth>h3,
h4:hover {
  cursor: pointer;
}

#sixth>h3,
h4:hover {
  cursor: pointer;
}

#eighth>h3,
h4:hover {
  cursor: pointer;
}


/* ---------------------------------------------------------------- */
#secondheading {
  text-align: center;
  font-family: Inter, Roboto, Arial, sans-serif;
  font-size: 25px;
  color: rgb(59, 56, 56);
  margin-bottom: 40px;
}

/* *,
      *:before,
      *:after {
        box-sizing: border-box;
      } */
.container {
  margin-top: -15px;
  margin-bottom: 20px;
}

.carousel {
  position: relative;
  width: 85%;
  height: 300px;
  margin: 0 auto;
}

.carousel-content {
  position: relative;
  overflow: hidden;
  transition: width 0.4s;
  height: 100%;
}

.slide {
  height: 100%;
  position: absolute;
  z-index: 1;
  transition: left 0.4s cubic-bezier(0.47, 0.13, 0.15, 0.89);
  margin-right: 10px;
}

.nav {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  background-color: white;
  width: 50px;
  height: 50px;
  z-index: 2;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  outline: none;
  color: white;
  /* -webkit-user-select: none; */
}

.nav-left {
  left: 5px;
}

.nav-right {
  right: 5px;
}

.carousel-arrow-icon-left {
  margin-left: 15px;
  margin-top: 10px;
  color: black;
  font-size: 25px;
  font-weight: bolder;
}

.carousel-arrow-icon-right {
  margin-left: 20px;
  margin-top: 10px;
  color: black;
  font-size: 25px;
  font-weight: bolder;
}

.slide>img {
  width: 98%;
  height: 100%;
  display: block;
  border-radius: 5px;
}

/* -------------------------------------------------------------------------------- */
#thirdheading {
  text-align: center;
  font-family: Inter, Roboto, Arial, sans-serif;
  font-size: 25px;
  color: rgb(59, 56, 56);
  margin-bottom: 40px;
}

img~h4 {
  text-align: center;
}

img~h3 {
  text-align: center;
  margin-top: 25px;
  color: #fc91a8;
}

img~h4:last-child:hover {
  cursor: pointer;
}

.scrollmenu {
  width: 85%;
  /* border: 1px solid black; */
  margin: -15px auto;
  overflow: auto;
  white-space: nowrap;
}

.scrollmenu>div {
  display: inline-block;
  width: 250px;
  /* border: 1px solid grey; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.scrollmenu>div>img {
  width: 60%;
  height: 150px;
  display: block;
  margin: 0px auto 15px;
}

.scrollmenu>div>h3 {
  color: black;
}

.scrollmenu>div>h4:last-child {
  color: #de3062;
}









/* akshay part */




#cat {
  text-align: center;
  font-size: 30px;
  color: rgb(77, 75, 75);
  margin-top: 50px;
}

#FEATURED {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 350px);
  align-items: center;
  margin: auto;
  margin-top: 20px;
  gap: 20px;
}

#FEATURED>div:hover {
  display: block;
  text-align: center;
  background-color: white;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

img {
  width: 100%;
  border-radius: 5px;
}

.dis {
  font-size: 18px;
  color: #f8609a;
  margin-top: 5px;
  padding: 0px 10px 0px 10px;
  text-align: center;
}

.ext {
  font-size: 18px;
  color: #5c5d63;
  padding-left: 5px;
  padding: 0px 10px 0px 10px;
  text-align: center;
}

#Acat {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 340px);
  margin: auto;
  margin-top: 50px;
  gap: 20px;
}

#Acat>:nth-child(1) {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url(https://images-static.nykaa.com/uploads/fedc302d-72c3-4f0b-9684-4ac49273afd1.jpg?tr=w-600,cm-pad_resize);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#Acat>:nth-child(2) {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url(https://images-static.nykaa.com/uploads/0d208495-58fe-40cc-be26-991db2fc595e.jpg?tr=w-600,cm-pad_resize);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#Acat>:nth-child(3) {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url(https://images-static.nykaa.com/uploads/a22a32cd-ac55-4a26-84db-b9e020f90b5b.gif?tr=w-600,cm-pad_resize);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#Acat>div>div {
  width: 90%;
  height: 90px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.fea {
  font-size: 20px;
  color: #f1327c;
}

.pt {
  font-size: 20px;
}

#everyday {
  width: 85%;
  margin: auto;
  margin-top: 30px;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#NICHEBEAUTY {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  margin: auto;
  margin-top: 20px;
  gap: 20px;
}

#NICHEBEAUTY>DIV:hover {
  border-radius: 5PX;
  cursor: pointer;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#EDITOR {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  margin: auto;
  margin-top: 20px;
  gap: 20px;
}

#EDITOR>div:hover {
  border-radius: 5PX;
  cursor: pointer;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#OFFERS {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  margin: auto;
  margin-top: 20px;
  gap: 20px;
}

#OFFERS>div:hover {
  display: block;
  text-align: center;
  cursor: pointer;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}









/* Nazmins Part */



#upp {
  width: 100%;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  padding: 10px px;
  margin-top: 200px;
  background-color: #3f414d;
}

#upp>div {
  width: 22%;
}

#EMAILAK>:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.IMGAK {
  width: 10%;
  height: 30px;
  border-radius: 10px;
  background-color: #3f414d;
}

#EMAILAK>:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-top: -10px;
}

#EXPAK>:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#EXPAK>:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

#phone>:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#phone>:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-top: -5px;
}

/* second part */

#SECAK {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
  gap: 70px;
  background-color: #8c8d94;
}

#SECAK>div {
  width: 10%;
  margin-top: 40px;
}

#SECAK p {
  color: white;
  cursor: pointer;
  font-size: 14px;

}

#SECAK p:hover {
  color: red;
}

/* third part  */
#THIAK {
  width: 100%;
  height: 230px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 20px;
  background-color: white;
}

#THIAK>div {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.firdtp {
  font-size: 15px;
  margin-bottom: -23px;
  color:
    #343441;
}

.SECAK p {
  margin-bottom: -20px;
  color: #e1e1e1;
}

.thirdp {
  font-size: 15px;
  padding-top: 10px;
  color: #696976;
}

#forut {
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fc2779;
  margin-bottom: 50px;
}

#forut>:nth-child(1) {
  display: flex;
}

#forut>:nth-child(1)>p {
  padding-left: 20px;
  font-size: 15px;
  color: white;
}

#forut>:nth-child(2) {
  display: flex;
  font-size: 15px;
  margin-top: -17px;
}