:root {
  --box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --border: transparent;
}

.products {
  /* border: 1px solid; */
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 20px;
  padding-left: 5%;
  margin: auto;
}

.products>div {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#prd>img {
  margin-left: 5%;
}

.products>div {
  text-align: center;
  font-weight: bold;

}

/* .products>div :hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} */
#category {
  width: 250px;
  height: 350px;


}

#main {
  display: flex;
  margin-left: 8%;
}

select {
  width: 100%;
  height: 60px;
  font-size: 20px;
}

.static_dropdown {
  margin-top: 1%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: transparent;

}

.selector {
  margin-top: 20%;
  box-shadow: var(--box-shadow);
  border: var(--border);

}

#filter {
  box-shadow: var(--box-shadow);
  border: var(--border);
}

#btn_cart {
  color: white;
  background-color: rgb(236, 20, 207);
  border: transparent;
  font-size: large;
  width: 200px;
  height: 60px;
  margin-right: 0px;
  margin-bottom: 0px;
  cursor: pointer;
}











* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}



#navbar {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  background-image: url("https://adn-static1.nykaa.com/media/wysiwyg/2022/common-strip-17-6-22.jpg");
  height: 45px;

}

#logos>div {
  display: flex;
  /* border: 1px solid black; */
  justify-content: space-around;
  background-color: transparent;
  /* width:150px; */
  margin-top: 10px;
}

#logos>div>img {
  width: 40px;
  cursor: pointer;
  height: 30px;
  margin-top: -5px;
  margin-left: 30px;


}

h1 {
  font-weight: bold;
  font-size: 16px;
  width: 500px;
  margin-right: 200px;
  margin-left: 150px;
  cursor: pointer;
  font-family: sans-serif;
  margin-top: 13px;
  /* border: 1px solid red; */
}

h2 {
  font-size: 14px;
  /* width:150px; */
  cursor: pointer;
  font-weight: lighter;
  font-family: sans-serif;
  margin-right: 10px;
  /* border: 1px solid red; */
}

h1:hover {
  color: white;
}

h2:hover {
  color: white;
}

#allprod {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 25px;
  font-family: sans-serif;
  color: rgb(236, 20, 207);
  margin-left: 300px;

}

#cartlogo {
  width: 20px;
  display: block;
  margin-left: 350px;
  margin-top: -28px;
  cursor: pointer;
}



        /* Second Navbar */



        #cartlogo {
          width: 20px;
          display: block;
          margin-left: 350px;
          margin-top: -28px;
          cursor: pointer;
        }
        
        
        
        
        
        #navbar2 {
          display: flex;
          justify-content: center;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          height: 60px;
        
        }
        
        
        #offer>img {
          width: 150px;
          height: 40px;
          background-color: transparent;
        
        }
        
        #offer>img:hover {
          cursor: pointer;
        }
        
        
        /* Dropdown Button */
        .dropbtn2 {
          background-color: white;
        
          padding: 25px;
          font-size: 15px;
          border: none;
          font-weight: bold;
        }
        
        /* The container <div> - needed to position the dropdown content */
        .dropdown2 {
          position: relative;
          display: inline-block;
          margin-right: 10px;
          /* border: 1px solid red;; */
        
        }
        
        .dropdown2:last-child {
          /* position: relative; */
        
          /* border: 1px solid red; */
          height: 50%;
          margin-left: 200px;
          margin-top: 15px;
        
        }
        
        .dropdown2:last-child>input {
          border-color: #f1f1f1;
          background-color: rgb(238, 238, 238);
          height: 40px;
          width: 70%;
          border: transparent;
          font-weight: bold;
          font-family: sans-serif;
          margin-right: 10px;
          margin-top: -7px;
          text-align: center;
        }
        
        .dropdown2:last-child>a {
          color: black;
          margin-right: 5px;
        }
        
        /* Dropdown Content (Hidden by Default) */
        #dropdown-content2 {
          display: none;
          position: fixed;
          background-color: white;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 99;
        
        }
        
        /* Links inside the dropdown */
        #dropdown-content2 a {
          color: gray;
          padding: 4px;
          text-decoration: none;
          width: 150px;
          /* border: 1px solid red; */
          margin-right: 10px;
        
          /* display: block; */
        }
        
        /* Change color of dropdown links on hover */
        #dropdown-content2 a:hover {
          background-color: transparent;
          color: rgb(231, 43, 43);
        }
        
        /* Show the dropdown menu on hover */
        .dropdown2:hover>#dropdown-content2 {
          display: grid;
          grid-template-columns: repeat(4, 200px);
          grid-template-rows: repeat(14, 40px);
          /* border: 1px solid black; */
          position: absolute;
          justify-content: space-around;
        }
        
        
        
        
        /* Change the background color of the dropdown button when the dropdown content is shown */
        .dropbtn2:hover {
          color: rgb(216, 32, 63);
          cursor: pointer;
        
        
        }
        
        #navbar2>img {
          width: 8%;
          margin-top: 12px;
          margin-right: 20px;
          height: 65%;
          padding: 5px;
          cursor: pointer;
        
        }
        
        #dropdown-content2>button:hover {
          background-color: rgb(234, 87, 87);
          cursor: pointer;
          /* margin-top: 20px; */
        }
        
        #dropdown-content2>button {
          border: 0;
          background-color: rgb(181, 181, 194);
          /* border: 1px solid red; */
          margin-right: 10px;
          font-weight: bold;
        }
        
        #dropdown-content2>img {
          width: 100px;
          height: 30px;
          margin-bottom: 10px;
          cursor: pointer;
        }
        
        .beauty {
          width: 500px;
          /* border: 1px solid red; */
          height: 400px;
        }
        